/target
/.project
/.factorypath
/.settings
/codegen/bin/src/main/java/com/dodaso/codegen/*.class
/codegen/bin/src/main/java/com/dodaso/codegen/util/*.class
/codegen/bin/src/main/java/com/dodaso/codegen/writers/*.class
/codegen/bin/src/main/java/com/dodaso/codeGenerators/*.class
/codegen/bin/src/main/java/com/dodaso/codeGenerators/exception/*.class
/codegen/bin/src/main/java/com/dodaso/exception/*.class
/codegen/bin/src/main/java/com/dodaso/threadlocal/*.class
/codegen/bin/src/main/java/com/dodaso/util/*.class
/codegen/bin/src/test/java/com/dodaso/codegen/*.class
/codegen/bin/src/test/java/com/dodaso/util/*.class
/codegen/*.classpath
/diagnosticcenter/diagnosticcentermodel/*.classpath
/diagnosticcenter/diagnosticcenterservice/*.classpath
/pharmacy/pharmacyModel/*.classpath
/pharmacy/pharmacyService/*.classpath
/utilities/fileconfig/*.classpath
/utilities/otp-videochat/*.classpath
/utilities/reports/*.classpath
/pharmacy/.settings/*.prefs
/pharmacy/pharmacyModel/.settings/*.prefs
/pharmacy/pharmacyService/.settings/*.prefs
/.metadata/
/caretaker/caretakerservice/.classpath
/caretaker/caretakerservice/.classpath
/core/core-models/.classpath
/core/core-services/.classpath
/doctor/doctorservice/.classpath
/patient/patientService/.classpath
/superadmin/superadminService/target/classes/org/secondopinion/superadmin/controller/SuperAdminController.class
/superadmin/superadminService/target/classes/org/secondopinion/superadmin/dao/RolesDAO.class
/superadmin/superadminService/target/classes/org/secondopinion/superadmin/dao/UserDAO.class
/superadmin/superadminService/target/classes/org/secondopinion/superadmin/dao/UserroleDAO.class
/superadmin/superadminService/target/classes/org/secondopinion/superadmin/daoimpl/BaseRolesDAOHibernate.class
/superadmin/superadminService/target/classes/org/secondopinion/superadmin/daoimpl/BaseUserDAOHibernate.class
/superadmin/superadminService/target/classes/org/secondopinion/superadmin/daoimpl/BaseUserroleDAOHibernate.class
/superadmin/superadminService/target/classes/org/secondopinion/superadmin/daoimpl/RolesDAOHibernateImpl.class
/superadmin/superadminService/target/classes/org/secondopinion/superadmin/daoimpl/UserDAOHibernateImpl.class
/superadmin/superadminService/target/classes/org/secondopinion/superadmin/daoimpl/UserroleDAOHibernateImpl.class
/superadmin/superadminService/target/classes/org/secondopinion/superadmin/exception/IllegalUserException.class
/superadmin/superadminService/target/classes/org/secondopinion/superadmin/exception/SuperAdminServerException.class
/superadmin/superadminService/target/classes/org/secondopinion/superadmin/exception/SuperAdminServerExceptionHandler.class
/superadmin/superadminService/target/classes/org/secondopinion/superadmin/login/LoginController.class
/superadmin/superadminService/target/classes/org/secondopinion/superadmin/service/SuperAdminService.class
/superadmin/superadminService/target/classes/org/secondopinion/superadmin/serviceImpl/SuperAdminServiceImpl.class
/superadmin/superadminService/target/classes/org/secondopinion/superadmin/SuperAdminServiceApplaction.class
/superadmin/superadminService/target/maven-archiver/pom.properties
/superadmin/superadminService/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/superadmin/superadminService/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/superadmin/superadminService/target/superadminService-0.0.1.jar
/superadmin/superadminService/target/superadminService-0.0.1.jar.original
/userMgmt/userMgmtService/.classpath
/utilities/elasticsearch/.classpath
/utilities/payment-gateway/.classpath
/utils/.classpath
/caretaker/caretakerservice/.classpath
/caretaker/caretakerservice/.classpath

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/superadmin/superadminModel/.settings/org.springframework.ide.eclipse.prefs
